<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">

        <section class="flex">
     
           <a href="dashboard.php" class="logo">Admin<span>Panel</span></a>
     
           <nav class="navbar">
              <a href="dashboard.php">home</a>
              <a href="products.php">products</a>
              <a href="placed_orders.php">orders</a>
              <a href="admin_accounts.php">admins</a>
              <a href="users_accounts.php">users</a>
              <a href="messages.php">messages</a>
           </nav>
     
           <div class="icons">
              <div id="menu-btn" class="fas fa-bars"></div>
              <div id="user-btn" class="fas fa-user"></div>
           </div>
     
           <div class="profile">
     
     </header>
</body>
</html>